dataset_config: &dataset_config
  target_dir: './data/glorys'
  clima_dir: './data/glorys_clima'
  bg_dir: './data/forecast_bg'
  in_situ_obs_dir: './data/HadIOD/'
  sate_sst_dir: './data/SST'
  sate_sss_dir: './data/SSS'
  sate_sla_dir: './data/SSH'
  sate_sic_dir: './data/SIC'
  sate_ssw_dir: './data/SSW'
  target_stats_file: './stats/glorys_surface.json'
  bg_stats_file: './stats/glorys_surface.json'
  sate_sst_stats_file: './stats/sst_avhrr.json'
  sate_sss_stats_file: './stats/sss_smos.json'
  sate_sla_stats_file: './stats/sla_j2_j3.json'
  sate_sic_stats_file: './stats/sic.json'
  sate_ssw_stats_file: './stats/ssw_metopa.json'
  in_situ_obs_stats_file: './stats/hadiod1200.json'
  location_stats_file: './stats/location.json'
  land_sea_mask_file_path: './mask/land_sea_mask_glorys_23_181_360.nc'
  target_vars: ['T', 'S', 'U', 'V', 'SSH']
  bg_vars: ['T', 'S', 'U', 'V', 'SSH']
  in_situ_obs_vars:  ['temp_qc', 'sal_qc']
  sate_sst_vars: ['sea_surface_temperature']
  sate_sss_vars: ['Sea_Surface_Salinity_Rain_Corrected']
  sate_sla_vars: ['sla_unfiltered']
  sate_sic_vars: ['sic']
  sate_ssw_vars: ['wind_dir', 'wind_speed']
  target_shape: [180, 360, 1]
  depths: [0]
  target_block_shape: [10, 20, 1] # units: grid/degree
  bg_block_shape : [10, 20, 1] # units:degree
  sate_sic_patch_shape : [10, 20] # units: degree/grid
  sate_sla_patch_shape : [10, 20] # units: grid
  sate_ssw_patch_shape : [10, 20] # units: grid, 10/0.25=40, 20/0.25=80, [40, 80]
  sate_sst_patch_shape : [10, 20]   # units: grid, 10/0.04=250, 20/0.04=500, [250, 500], 
  sate_sss_patch_shape : [10, 20]    # units: grid, 10/0.2=50, 20/0.02=100 
  in_situ_obs_patch_range : [10, 20, 20] # units: degree, degree, meter
  in_situ_obs_pad : 300
  time_window_sate: 1
  normalization: 'minmax_v2' # options: minmax_v1, minmax_v2, z_score
  loc_normalization: 'cycle' # options: cycle, minmax_v1, minmax_v2,
  bg_lead_time: 4 # forecast lead time, lead_time=5
  bg_interp: False

train_dataset:
  <<: *dataset_config
  time_range: ['20180110', '20190110'] # ['20160101', '20160501'] # ['20100115', '20100415']
  num_blocks: 64 # 128
  target_lat_step: 5 
  target_lon_step: 5
  target_depth_step: 1

valid_dataset:
  <<: *dataset_config
  time_range: ['20190110', '20200107'] # ['20160101', '20160501'] # ['20100115', '20100415']
  num_blocks: 64 # 128
  target_lat_step: 5 
  target_lon_step: 5
  target_depth_step: 1

test_dataset:
  <<: *dataset_config
  time_range: ['20200107', '20210107']
  num_blocks: 10

model:
  name: CNP_determ_multi_encoders
  args:
    in_ch_bg: 10 # 8 10 
    in_ch_in_situ_obs: 7 # 5 7 
    in_ch_sate_sss: 6 # 4 6
    in_ch_sate_ssw: 7 # 5 7
    in_ch_sate_sst: 7 # 5 7
    in_ch_sate_sla: 6 # 4 6
    in_ch_sate_sic: 6 # 4 6
    encoder_depth: 6 
    encoder_skip_layers: [2, 4]
    encoder_hidden_dim: 48 # 32
    encoder_num_latent_size: 200  # can be divided by num_target_points
    decoder_input_dim: 341 # encoder_hidden_dim*7+coords_dim
    decoder_output_dim: 5
    decoder_hidden_dim: 128
    decoder_depth: 8
    decoder_skip_layers: [2, 4, 6]
    activation: 'relu' # relu, leakyrelu, tanh

swanlab:
  project: 'Your project name'
  workspace: "Your workspace name"

optimizer:
  name: adam
  args:
    lr: 1.e-4
epoch_max: 300 
loss:
  mask_land: true
  learn_residual: true 
multi_step_lr:
  milestones: [80, 160, 200]
  gamma: 0.5

epoch_val: 1
epoch_save: 10
